@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Roboto Mono", monospace;
  cursor: none;
}
.carousel .control-dots .dot {
  margin-bottom: 5px;
}
.invert {
  filter: invert(1);
}

.hover\:no-invert:hover .invert {
  filter: invert(0);
}
.custom-shadow {
  box-shadow: 2px 2px 0px white;
}

@media (min-width: 768px) {
  .custom-shadow {
    box-shadow: 4px 4px 0px white;
  }
}
.custom-shadow-2px {
  box-shadow: 2px 2px 0px white;
}
.custom-shadow-focus:focus {
  box-shadow: 4px 4px 0px white;
}
.custom-shadow-hover:hover {
  box-shadow: 4px 4px 0px white;
}
.custom-shadow-black:hover {
  box-shadow: 4px 4px 0px black;
}
.letter-stroke {
  -webkit-text-stroke: 1px white;
  text-shadow: 3px 3px 0px white;
  color: black;
}
